---
import GithubIcon from "./icons/GithubIcon.astro";
import LinkedinIcon from "./icons/LinkedinIcon.astro";
---

<footer class="flex items-center justify-between py-6">
  <p>
    © 2025 Angel Almanza. Todos los derechos reservados.
  </p>
  <div class="flex items-center gap-4">
    <GithubIcon />
    <LinkedinIcon />
  </div>
</footer>